html,body{
  margin:0px;
  padding:0px;
}

div.head{
  background-color: red;
  position:fixed;
  top:0px;
  height:10vw;
  max-height:120px;
  width:100%;
  font-size:5vw;
}

div.container{
  position:static;
  background-color: lightblue;
  margin:auto; /*margin:auto and max-width will put the container into the middle of the screen*/
  max-width: 80%; /*margin:auto and max-width will put the container into the middle of the screen*/
  height:100%;
  width:100%;
}

div.box{
  position:static;
  display:inline-block; /*will put them all in a line*/
  vertical-align: top; /*prevents boxes to misplace vertically*/
  margin:20px;
  border: 3px solid green;
  width: 300px;
  height: 300px;
}

img{
  max-width:100%; /*will confine the width of an image to the maximum of its container*/
}
