body {background-color:rgb(232,236,253);}
h1 {color:navi;}
div.pad{padding: 25px 100px 100px 100px;}
div.height{height: 300px;}
div {border-style:dotted;
  border-width:2px;
  border-color:rgb(32,148,204);}
