html, body{
  margin:0;
  padding:0;
  height:100%
}

div.header{
  /*background-image:url("header.png");*/
  height:120px;
  width:100%;
  position:fixed;
  background-color:lightblue;
  background-repeat:no-repeat;
  border:0;
  margin:0;
  padding:0;
  outline-color:red;
}

.center{
  text-align:center;
}

.block{
  /*height:200px;*/
  max-width:50%;
  padding:0px;
  display: inline-block;
  border-width:5px;
  border-style:dotted;
}
