html, body{
  margin:0;
  padding:0;
  height:100%
}

/*div{
    border-style:solid;
}*/

div.header{
  height:120px;
  width:100%;
  position:relative;
  background-color:lightblue;
  background-repeat:no-repeat;
  border:0;
  margin:0;
  padding:0;
  /*outline-color:red;*/
}

.center{
  text-align:center;
  position:absolute;
  top:50%;
  bottom:0;
  left:0;
  right:0;
  border:dotted;
}

.container{
  position:relative;
  margin:auto;
  width:70%;
  text-align: justify;
  /*border:dotted;
  border-color:red;*/
}

.banner img{
  padding:0px;
  width:100%;
}

.column img{
  width:90%;
  padding:2vw 2vw 2vw 0px;
}

/*left column for images*/
.column{
  display:inline-block;
  vertical-align: top;
  float:left;
  width:45%;
  /*font-size:1.75vw; font size should have a minimum value!*/
}
