html, body{
  margin:0;
  padding:0;
  height:100%
}

div{
    border-style:solid;
}

div.header{
  /*background-image:url("header.png");*/
  height:120px;
  width:100%;
  position:relative;
  background-color:lightblue;
  background-repeat:no-repeat;
  border:0;
  margin:0;
  padding:0;
  outline-color:red;
}

.center{
  text-align:center;
  position:absolute;
  top:50%;
  bottom:0;
  left:0;
  right:0;
}

.container{
  position:relative;
  margin:auto;
  width:70%;
  border:dotted;
  border-color:red;
  text-align: justify;
}

.container img{
  width:90%;
  padding:2vw;
}

/*two boxes are created on this site: left for pics, right for text. not to be confused with boxes on index.html*/
.column{
  display:inline-block;
  vertical-align: top;
  width:45%;
}

/*.left{
  position: absolute;
  left:0px;
  display:inline-block;
  vertical-align: top;
  margin:auto;
  width:45%;
  height:200px;
}*/

/*.right{
  position: absolute;
  right:45%;
  display:inline-block;
  vertical-align: top;
  margin:auto;
  height:200px;
}*/
